{% extends 'theme/base.html' %} {% load static %} {% block title %}
<title> {{ block.super }} | Setting</title>
{% endblock title %}

{% block style %}
  <style>
    body {
        background-color: #f9f9fa
    }
    
    .padding {
        padding: 3rem !important
    }
    
    .user-card-full {
        overflow: hidden
    }
    
    .card {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
        border: none;
        margin-bottom: 30px
    }
    
    .m-r-0 {
        margin-right: 0px
    }
    
    .m-l-0 {
        margin-left: 0px
    }
    
    .user-card-full .user-profile {
        border-radius: 5px 0 0 5px
    }
    
    .bg-c-lite-green {
        background: -webkit-gradient(linear, left top, right top, from(#f29263), to(#ee5a6f));
        background: linear-gradient(to right, #ee5a6f, #f29263)
    }
    
    .user-profile {
        padding: 20px 0
    }
    
    .card-block {
        padding: 1.25rem
    }
    
    .m-b-25 {
        margin-bottom: 25px
    }
    
    .img-radius {
        border-radius: 5px
    }
    
    h6 {
        font-size: 14px
    }
    
    .card .card-block p {
        line-height: 25px
    }
    
    @media only screen and (min-width: 1400px) {
        p {
            font-size: 14px
        }
    }
    
    .card-block {
        padding: 1.25rem
    }
    
    .b-b-default {
        border-bottom: 1px solid #e0e0e0
    }
    
    .m-b-20 {
        margin-bottom: 20px
    }
    
    .p-b-5 {
        padding-bottom: 5px !important
    }
    
    .card .card-block p {
        line-height: 25px
    }
    
    .m-b-10 {
        margin-bottom: 10px
    }
    
    .text-muted {
        color: #919aa3 !important
    }
    
    .b-b-default {
        border-bottom: 1px solid #e0e0e0
    }
    
    .f-w-600 {
        font-weight: 600
    }
    
    .m-b-20 {
        margin-bottom: 20px
    }
    
    .m-t-40 {
        margin-top: 20px
    }
    
    .p-b-5 {
        padding-bottom: 5px !important
    }
    
    .m-b-10 {
        margin-bottom: 10px
    }
    
    .m-t-40 {
        margin-top: 20px
    }
    
    .user-card-full .social-link li {
        display: inline-block
    }
    
    .user-card-full .social-link li a {
        font-size: 20px;
        margin: 0 10px 0 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out
    }
  </style>
{% endblock style %}
{% block body %}


<div class="container" style="min-height: 83vh; margin-top: 20px;">

    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="main-breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Settings</li>
        </ol>
    </nav>
    <!-- /Breadcrumb -->

    <div>
        <div class="col-md-8">
            <div class="card">
                <div style="padding: 25px;">
                    <div class="tab-pane active" id="profile">
                        <h6>YOUR PROFILE INFORMATION</h6>
                        <hr>
                        <div class="page-content page-container" id="page-content">
                            <div class="padding">
                                <div class="row container d-flex justify-content-center">
                                    <div class="col-xl-12 col-md-12">
                                        <div class="card user-card-full">
                                            <div class="row m-l-0 m-r-0">
                                                <div class="col-sm-4 bg-c-lite-green user-profile">
                                                    <div class="card-block text-center text-white">
                                                        <div class="m-b-25"> <img src="{{user.profile.image.url}}" width="100" class="img-radius" alt="User-Profile-Image"> </div>
                                                        <h6 class="f-w-600" style="text-transform: capitalize;">{{user.first_name}} {{user.last_name}}</h6>
                                                        <p><b>Bloger</b></p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                                        {% if request.user.is_authenticated and request.user == user %}
                                                        <a href="">
                                                            <button type="button" class="btn btn-primary">
                                                                Edit Profile <i class="fas fa-user-edit"></i>
                                                            </button>
                                                        </a>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-sm-8">
                                                    <div class="card-block">
                                                        <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <p class="m-b-10 f-w-600">Email</p>
                                                                <h6 class="text-muted f-w-400">{{user.email}}</h6>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <p class="m-b-10 f-w-600">Phone</p>
                                                                <h6 class="text-muted f-w-400">{{user.profile.phone}}</h6>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <p class="m-b-10 f-w-600">Username</p>
                                                                <h6 class="text-muted f-w-400">{{user.username}}</h6>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <p class="m-b-10 f-w-600">DOB</p>
                                                                <h6 class="text-muted f-w-400">{{user.profile.date_of_birth}}</h6>
                                                            </div>
                                                        </div>
                                                        <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600"></h6>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <p class="m-b-10 f-w-600"></p>
                                                                <h6 class="text-muted f-w-400"></h6>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <p class="m-b-10 f-w-600"></p>
                                                                <h6 class="text-muted f-w-400"></h6>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="tab-pane" id="account">
                        <h6>ACCOUNT SETTINGS</h6>
                        <hr>
                        <div class="form-group">
                            <label>Username Update</label><br>
                            <a class="li-ic" href="{% url 'profile_update' user.username %}">
                                <button class="btn btn-primary">
                                        Edit Username <i class="fas fa-pencil-alt"></i>
                                    </button>
                            </a>
                            <small id="usernameHelp" class="form-text text-muted">After changing your username, your old username becomes available for anyone else to claim.</small>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="d-block text-danger">Delete Account</label>
                            <p class="text-muted font-size-sm">Once you delete your account, there is no going back. Please be certain.</p>
                        </div>
                        <form action="" method="POST">
                            <a href="{% url 'delete-account' request.user.username %}" class="btn btn-danger" type="button">Delete Account</a>
                        </form>

                    </div>
                    <div class="tab-pane" id="security">
                        <h6>SECURITY SETTINGS</h6>
                        <hr>
                        <a href="{% url 'change-password' %}" class="btn btn-info" type="button">Change Password</a>
                        <hr>
                        <form>
                            <div class="form-group mb-0">
                                <label class="d-block">Sessions</label>
                                <ul class="list-group list-group-sm">
                                    <li class="list-group-item has-icon">
                                        <div>
                                            <h6 class="mb-0">Last Login</h6>
                                            <small class="text-muted">{{request.user.last_login}}</small>
                                        </div>

                                    </li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock body %}